<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />

    <title><%= data.name %></title>
  </head>

  <body>
    <table>
      <thead>
        <tr>
          <td>Sprite</td>
          <td>Type</td>
          <td>Evolves From</td>
          <td>Pokedex Number</td>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>
            <img src="<%= data.image_url %>" alt="<%= data.name %>" />
          </td>
          <td><%= data.type %></td>
          <td><%= data.evolves_from %></td>
          <td><%= data.id %></td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
